html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #202020;
}

h1 {
    color: #fff;
    font-family: 'Comic Sans MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12em;
    position: fixed;
    margin: 0;
    left: 20px;
    bottom: 20px;
}
h2 {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4.5em;
    margin: 0;
    position: fixed;
    right: 20px;
}
h2#counter {
    font-size: 3.5em;
    position: fixed;
    bottom: 20px;
}

img#head {
    max-height: 180px;
    width: auto;
    height: auto;
    margin: 0;
    position: fixed;
    /*transform: translate(-50%, -50%) translate(50vw, 50vh);*/
}