@font-face {
    font-family: 'Papyrus';
    src: url(/font/PAPYRUS.ttf) format('truetype'),
    url(/font/PAPYRUS.woff) format('woff');
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: black;
    /*
    background-image: url("firebackground.gif");
    margin: 0;
    height: max-content;
    background-size: 100vw, 100vh;
    background-position-y: bottom;
    background-repeat: no-repeat;*/
}

.background {
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: -60%;
    margin: 0;
    z-index: -1;
}

@media only screen and (max-width: 800px), screen and (orientation: portrait) {
    .background {
        bottom: 0;
    }
    .title {
        font-size: 3em;
        white-space: wrap;
    }
    p {
        font-size: 2.25em;
    }
}

p {
    color: #fff;
    font-size: 2.5em;
    font-family: 'Papyrus', 'Comic Sans MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 10px auto;
    width: fit-content;
}



.copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: right;
    margin: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.image {
    position: fixed;
    bottom: -10px;
    left: 60px;
    opacity: 0.4;
}

@keyframes titlemovements {
    0%  {transform: translate(3px, -2px) rotate(1deg);}
    33%  {transform: translate(18px, 6px) rotate(0deg);}
    67%  {transform: translate(-12px, -9px) rotate(-2deg);}
    100%  {transform: translate(3px, -2px) rotate(1deg);}
}

.title {
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    text-shadow: 12px 12px black;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    margin: 1em auto;

    animation-name: titlemovements;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.navBar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    list-style: none;
}

.navBar a {
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}